<%- include('../_partials/header') %>

  <main>

    <section>
      <div class="container mx-auto py-8 text-center">

        <h1 class="text-3xl font-bold underline mb-4">
          Bienvenue sur le shop e-commerce
        </h1>

        <a href="/shop/produits" class="inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
          Voir les produits
        </a>

      </div>
    </section>

  </main>

<%- include('../_partials/footer') %>