<main>

    <section>
        <div class="container mx-auto py-8 text-center">
            <h1>Consulter le stock</h1>
            <h2><%= message %></h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cum harum, repudiandae asperiores eius
                quibusdam doloribus beatae cumque, provident modi non minima ipsum incidunt delectus voluptates, error
                aliquam! Ipsa, vitae!</p>
        </div>
    </section>

</main>