<%- include('../_partials/header') %>

<main>

  <section>
    <div class="container mx-auto py-8 text-center">

      <h1 class="text-3xl font-bold underline mb-4">
        Bienvenue sur le dashboard
      </h1>

    </div>
  </section>

</main>

<%- include('../_partials/footer') %>